/* body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    color: #333;
  }
  
  .navbar {
    background-color: #007acc;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .primary-btn {
    background-color: #007acc;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .home-page {
    text-align: left;
    padding: 50px;
  }
   */