/* Navbar Styles */
.navbar {
  background-color: #007acc;
  padding: 12px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-links {
  display: flex;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
}

.nav-links a:hover {
  color: #fffd96;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .nav-links {
    flex-direction: column;
  }
}
